<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tikicloneapp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.TestManagementActivity"></activity>
        <activity android:name=".activities.TransactManagementAdminActivity" />
        <activity android:name=".activities.AdminManagementActivity" />
        <activity android:name=".activities.ProductReviewsActivity" />
        <activity android:name=".activities.WriteReviewActivity" />
        <activity android:name=".activities.ReviewsActivity" />
        <activity android:name=".activities.ChangePasswordActivity" />
        <activity android:name=".activities.PurchasedProductActivity" />
        <activity android:name=".activities.SettingActivity" />
        <activity android:name=".activities.ListTransactActivity" />
        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".activities.TransactActivity" />
        <activity android:name=".activities.OrderSuccessActivity" />
        <activity android:name=".activities.ConfirmationActivity" />
        <activity android:name=".activities.AddressActivity" />
        <activity android:name=".activities.CartActivity" />
        <activity android:name=".activities.AccountInfoActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ProductDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.ListProductActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WaitingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>